
 <div class="row">
  <div class="col-md-1">
    <p style="margin-top: 6px;">
      <a routerLink="/Dashboard/Product/List" class="back-btn">
        <i class="icon-arrow-left"></i>Back</a>
    </p>
  </div>
  <div class="col-md-7">
    <h4>Add Product Categories</h4>
  </div>
  <!-- <div class="col-md-4 ">
    <div class="">
      <div class="">
        <button type="button" class="btn btn-success" *ngIf="showAddBtn" (click)="showAddBtn=false">Add new</button>
        <button type="button" class="btn btn-primary" (click)="AddProduct()" *ngIf="!showAddBtn">Save</button>
        <button type="button" class="btn btn-secondary">Download</button>
        <button type="button" class="btn btn-success">Export</button>
        
      </div>
    </div>
  </div> -->
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <!-- <h4>
          <strong>Add Products type, Categories and</strong> Subcategory</h4> -->
      </div>
      <div class="card-body">
        <div style="margin:20px 0">
          <button class="btn btn-sm btn-primary"  type="submit">Add Type</button>
        </div>
        <div *ngIf="orderForm">
          <form (ngSubmit)="onSubmit()" [formGroup]="orderForm">

            <div class="form-group row">
              <div class="col-md-6">
                <label>Type</label>
                <input type="text" class="form-control border-input" formControlName="TYPE" placeholder="Product type">
              
              </div>
              <div class="col-md-1 ">
                <label> </label>
                <button type="button" class="btn btn-sm btn-primary add-btn" (click)="addcategory()">
                  +</button>
                
              </div>
              <div class="col-md-4">
                <label>Add Subcategories</label>
              </div>
             
            </div>

            <div class="col-sm-12" style="background: #ddd;
            padding: 15px;" *ngIf="orderForm.get('CATEGORY').controls.length>0">
              <div formArrayName="CATEGORY" *ngFor="let item of orderForm.get('CATEGORY').controls; let i = index;">
                  
                <div [formGroupName]="i">
                  <div class="form-group row">
                      <div class="col-md-3">
                      <p>Category{{i+1}}</p>
                      </div>
                    <div class="col-md-3">
                      <label>Name</label>
                      <input type="text" class="form-control border-input" formControlName="name" placeholder="Item name">
                    </div>
                    <div class="col-md-3">
                      <label>Value </label>
                      <input type="text" class="form-control border-input" formControlName="value" placeholder="Item name">

                    </div>
                    <div class="col-md-1 ">
                      <label> </label>
                      <button type="button" class="btn btn-sm btn-primary add-btn" (click)="addcategory()">
                        +</button>
                      <button type="button" class="btn btn-sm btn-danger add-btn" (click)="deletecategory(i)">
                        -</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Chosen name: {{ orderForm.value | json }} -->
            </div>
            <div class="form-group row">
              <div class="col-md-6"></div>
              <div class="col-md-2">
                <button class="btn btn-primary" type="submit" tabindex="0" (submit)="onSubmit()">SAVE</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- <div class="card-footer">
      
        <button class="btn btn-sm btn-danger" type="reset">
          <i class="fa fa-ban"></i> Reset</button>
      </div> -->
    </div>
  </div>
</div>
<div id="new_cat">New Category has been added</div>
