
<form [formGroup]="CategoryForm" (ngSubmit)="EditCategory()">
  <label>TYPE: </label>
  <input formControlName="TYPE" /><br>
  <div formArrayName="CATEGORY">
      <label>CATEGORIES</label>
  <div *ngFor="let d of CategoryForm.controls.CATEGORY.controls; let i=index">
    <div formGroupName="{{i}}">
  
      Name:   <input formControlName="name" />
      Value:   <input formControlName="value" />
      <button (click)="addcategory()" >Add</button>
      <button (click)="deletecat(i)" >Delete</button>
     
    </div>
    
  </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6"></div>
    <div class="col-md-2">
      <button class="btn btn-primary" type="submit" tabindex="0" (submit)="EditCategory()" style="margin-top: 50px;">SAVE</button>
    </div>
  </div>
</form>
<div id="snackbar">Successfully Edited your Category</div>



