.no-card-back{
    background-color: transparent!important;
    border:0!important;
}
.back-btn:hover,.back-btn:focus{
    text-decoration: none!important
}
.add-btn{ 
position: relative;
left: 40%;
top:5px;

}
.close-icon{
    position: absolute;
    right: -26px;
    top: -6px;
    cursor: pointer;
}
.close-icon i {
    color:red;
}
.form-control:disabled{
    opacity: 0.8!important;
}
.wrapper{
    padding: 15px;
}
.col-content{
    height: 226px;
    // margin: 10px;
    border: 1px solid #fff;
    /* max-width: 25px; */
    background-color: #ddd;
}
.img{
max-width: 250px;
max-height: 170px;
position: absolute;
left: 50%;
transform: translateX(-50%);
}
.btn-position{
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translate(-50%, -50%);
}