.no-card-back{
    background-color: transparent!important;
    border:0!important;
}
.back-btn:hover,.back-btn:focus{
    text-decoration: none!important
}
.add-btn{ 
position: relative;
left: 40%;
top:5px;

}