.no-card-back{
    background-color: transparent!important;
    border:0!important;
}
.back-btn:hover,.back-btn:focus{
    text-decoration: none!important
}
.add-btn{ 
position: relative;
left: 40%;
top:5px;

}
.close-icon{
    position: absolute;
    right: -26px;
    top: -6px;
    cursor: pointer;
}
.close-icon i {
    color:red;
}